.card {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );

  &.is-hidden {
    .card-head,
    .card-star,
    .card-body {
      opacity: 0.2;
    }
  }
  /* animation */
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation: fadeInCard 0.5s ease forwards;
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.5s;
  }
  &:nth-child(6) {
    animation-delay: 0.6s;
  }
}
.card-wrap {
  display: grid;
  gap: 1.6rem;
  padding: 2.4rem 2rem;
}
.card-head {
  display: grid;
  gap: 0.8rem;
  width: 100%;
}
.card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.card-tag {
  position: relative;
  z-index: 1;
  padding: 0.3rem 0.8rem;
  font-size: var(--font-xs);
  line-height: var(--line-height-tight);

  &.is-default {
    color: var(--white);
    border-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.06)
      )
      1 / 1px;
  }
  &.is-classic {
    background: linear-gradient(to bottom, #fff89b, #ffcb21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid 1px #ffcb21;
    border-radius: 99rem;
  }
  &.is-favorite {
    color: #fad0d0;
    border: solid 1px;
    border-radius: 99rem;
  }
}
.card-title {
  font-size: var(--font-md);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 1.6rem;
}
.card-star {
  display: flex;
  align-items: center;
  font-size: var(--font-base);
  color: var(--text-200);
  line-height: 1;
  letter-spacing: 0;
  .is-active {
    color: var(--primary-100);
  }
}
.card-when-where {
  color: var(--text-200);
  font-size: var(--font-xs);
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.card-body {
  color: var(--text-200);
  font-size: var(--font-xs);
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.card-details {
  position: relative;
  padding-bottom: 2.4rem;
  &[open] {
    .toggle-more-open {
      display: none;
    }
  }
  &:not([open]) {
    .toggle-more-close {
      display: none;
    }
  }
}
.card-info-dl {
  padding-bottom: 1.6rem;
  color: var(--text-200);
  font-size: var(--font-xs);
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.card-info-dt {
  padding-left: 0.8rem;
  border-left: solid 2px;
  font-weight: 700;
  &:not(:first-of-type) {
    margin-top: 1.2rem;
  }
}
.card-info-dd {
  margin-top: 0.4rem;
}
.toggle-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  border-image: linear-gradient(
      to right,
      rgba(156, 156, 156, 1),
      rgba(156, 156, 156, 0.1)
    )
    1 / 1px 0 0 0;
  color: var(--text-200);
  font-size: var(--font-xs);
  line-height: 1.4;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}
.card-translate {
  position: absolute;
  z-index: inherit;
  bottom: 1.2rem;
  right: 1.2rem;
}
