.is-modal-open {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-100);
    opacity: 0.8;
    transition: all var(--duration-100);
  }
}
.modal {
  --hover-circle-bg: rgba(159, 233, 237, 0.1);
  --hover-circle-width: 4rem;
  --hover-circle-height: 4rem;

  position: fixed;
  z-index: 100;
  max-width: 64rem;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
  color: var(--bg-300);
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  &.is-anime {
    animation: fadeInBottom 0.8s forwards;
  }
  @container style(--is-pc) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @container style(--is-sp) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.modal-wrapper {
  position: relative;
  z-index: 1;
  padding: 8rem 4rem 4rem 4rem;
}

.modal-close {
  position: absolute;
  z-index: inherit;
  top: 2.8rem;
  right: 3.2rem;
  cursor: pointer;
}
.modal-messages {
  margin: 0.8rem 0 0 1.5em;
  list-style: disc;
  font-size: var(--font-sm);
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--accent-200);
}
