.pager {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1.6rem;
  @media (width > 750px) {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    margin-top: var(--space-lg);
  }
  @media (width <= 750px) {
    grid-column: 1 / 13;
    margin-top: var(--space-xl);
  }
}
.pager-prev,
.pager-next {
  display: block;
  opacity: 0.16;
  transition: all var(--duration-400);
  &.is-active {
    opacity: 1;
  }
}
.pager-prev {
  translate: 0 -2.4rem;
  &.is-active {
    &:hover {
      translate: 0 -3rem;
    }
  }
}
.pager-next {
  scale: -1 -1;
  translate: 0 2.4rem;
  &.is-active {
    &:hover {
      translate: 0 3rem;
    }
  }
}
.pager-items {
  display: grid;
  grid-auto-flow: column;
  gap: 1.6rem;
}
.pager-item {
  &:first-child {
    translate: 0 -1rem;
  }
  &:last-child {
    translate: 0 1rem;
  }
}
.pager-anc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: solid 1px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all var(--duration-400);
  &.is-active,
  &:hover {
    opacity: 1;
  }
}
