<div class="form-review-stars">
  <% current_review_star = review_star.presence || 3 %>
  <% (1..5).each do |star| %>
    <%= f.radio_button :review_star, star, id: "review_star_#{star}", class: "form-review-stars-input", checked: (star == current_review_star) %>
    <label for="review_star_<%= star %>" class="form-review-stars-label">★</label>
  <% end %>
</div>
