<div class="form-head">
  <h1 class="form-head-heading"><%= heading %></h1>
  <img src="<%= asset_path('deco-shooting-star.svg') %>" alt="Shooting Star" width="201" height="84" class="form-head-star" />
</div>