<%== pagy_nav(@pagy) %>
<div class="page-count">
  <div class="page-count-bar"><span class="page-count-bar-active" style="width: <%= @page_active_width %>%;"></span></div>
  <p class="page-count-text"><%= count_text %></p>
</div>
