.cards {
  display: grid;
  grid-auto-rows: max-content;
  @media (width > 750px) {
    grid-template-columns: repeat(auto-fit, 28.7rem);
    gap: clamp(1rem, 4.8rem, 2vw);
  }
  @media (width <= 750px) {
    gap: 1.6rem;
  }
}
