.devise {
  line-height: 1.4;
  letter-spacing: 0.02em;
  @container style(--is-sp) {
    grid-column: 1 / 13;
    margin-top: var(--space-xl);
  }
  h2 {
    margin-bottom: var(--space-lg);
    font-size: var(--font-lg);
    font-weight: 700;
  }
  form {
    /* variables */
    --form-bg: rgba(255, 255, 255, 0.12);
    --form-border-radius: 0.4rem;
    --form-border-color: #cfcfcf;
    --form-padding: 1.6rem 2rem;
    --form-font-size: var(--font-base);
    --form-line-height: 1.4;
    --form-input-height: 5.4rem;
    --form-textarea-height: 16rem;
    --form-focus-color: var(--primary-100);

    /* layout */
    display: grid;
    gap: var(--space-md);
    margin-bottom: var(--space-lg);
    text-align: left;

    /* input */
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 100%;
      margin-top: var(--space-xs);
      height: var(--form-input-height);
      padding: var(--form-padding);
      background: var(--form-bg);
      border: solid 1px var(--form-border-color);
      border-radius: var(--form-border-radius);
      line-height: var(--form-line-height);
      font-size: var(--form-font-size);
      &:focus {
        border-color: var(--form-focus-color);
      }
    }
    /* checkbox */
    input[type="checkbox"] {
      & + label {
        position: relative;
        display: inline-block;
        padding-left: 1.6em;
        cursor: pointer;
      }

      & + label:before,
      & + label:after {
        content: "";
        display: inline-block;
      }
      & + label:before {
        width: 1.2em;
        height: 1.2em;
        border: 1px solid white;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      & + label:after {
        width: 0.7em;
        height: 0.3em;
        border: solid var(--bg-100);
        border-width: 2px 2px 0 0;
        position: absolute;
        left: 0.3em;
        top: 0.5em;
        transform: rotate(135deg);
        opacity: 0;
      }

      &:checked {
        & + label:before {
          background-color: white;
        }
        & + label:after {
          opacity: 1;
        }
      }
    }

    /* submit */
    input[type="submit"] {
      position: relative;
      z-index: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem 2rem;
      font-size: var(--font-sm);
      font-weight: 700;
      letter-spacing: 0.02em;
      line-height: 1;
      border-radius: 999px;
      background: rgba(255, 255, 255, 0.12);
      cursor: pointer;
      transition: all var(--duration-200);
      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
  a {
    display: inline-block;
    line-height: 2em;
    &::before {
      content: "-";
      display: inline-block;
      margin-right: 0.5em;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .actions {
    margin-top: var(--space-md);
  }
}
