.ft {
  @container style(--is-pc) {
    grid-column-start: 1;
  }
  @container style(--is-sp) {
    grid-column: 1 / 13;
    margin-top: 6.4rem;
    text-align: center;
  }
}
.ft-copyright {
  color: var(--text-200);
  font-size: var(--font-xs);
}
