.ft {
  @media (width > 750px) {
    position: sticky;
    top: 38rem; /* TODO: PC GNAV */
    grid-column-start: 1;
    margin-top: 6.4rem;
  }
  @media (width <= 750px) {
    grid-column: 1 / 13;
    margin-top: 3.2rem;
  }
}
.ft-copyright {
  color: var(--text-200);
  font-size: var(--font-xs);
}
