.helpnav {
  @media (width > 750px) {
    grid-column-start: 1;
    margin-top: 6.4rem;
  }
  @media (width <= 750px) {
    grid-column: 1 / 13;
    margin-top: 8rem;
  }
}
.helpnav-list {
  display: grid;
  @media (width > 750px) {
    gap: 24px;
  }
  @media (width <= 750px) {
    grid-auto-flow: column;
    gap: 1.6rem;
    justify-content: center;
  }
}
.helpnav-anc {
  font-size: var(--font-sm);
  line-height: 1;
  transition: all var(--duration-200);
  @media (width > 750px) {
    display: inline-flex;
    align-items: center;
    gap: 1.6rem;
    &::before {
      display: inline-block;
      content: "";
      border-top: solid 1px rgba(255, 255, 255, 0.4);
      width: 1.6rem;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
.helpnav-login-status {
  display: inline-block;
  margin-top: var(--space-md);
  padding: 0.5em 1em;
  border-radius: 99rem;
  font-size: var(--font-xs);
  color: var(--text-200);
  border: solid 1px;
}
