.pagenav {
  @container style(--is-pc) {
    grid-column-start: 1;
  }
  @container style(--is-sp) {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    place-self: center;
    width: 100%;
  }
}
.pagenav-list {
  @container style(--is-pc) {
    display: grid;
    gap: 3.2rem;
  }
  @container style(--is-sp) {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
}
.pagenav-anc {
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1;
  &.is-active {
    color: var(--primary-100);
    &::before {
      background: var(--primary-100);
    }
  }

  @container style(--is-pc) {
    font-size: var(--font-base);
    &::before {
      display: inline-block;
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);
    }
  }
  @container style(--is-sp) {
    font-size: var(--font-sm);
  }
}
