.pagenav {
  @media (width > 750px) {
    grid-column-start: 1;
    margin-top: 6.4rem;
  }
  @media (width <= 750px) {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    place-self: center;
    width: 100%;
  }
}
.pagenav-list {
  @media (width > 750px) {
    display: grid;
    gap: 3.2rem;
  }
  @media (width <= 750px) {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
}
.pagenav-anc {
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1;
  font-size: var(--font-base);
  font-weight: 700;
  transition: all var(--duration-400);
  &.is-active,
  &:hover {
    color: var(--primary-100);
    &::before {
      background: var(--primary-100);
    }
  }
  @media (width > 750px) {
    &::before {
      display: inline-block;
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);
    }
  }
}
