/* bg */
.hover\:bg-circle {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    scale: 0.4;
  }
  &:hover::before {
    animation: bgCircleHover 0.2s ease-in-out forwards;
  }
}
@keyframes bgCircleHover {
  0% {
    opacity: 0;
    scale: 0.4;
  }
  100% {
    opacity: 1;
    scale: 1.4;
  }
}
