.btn {
  display: grid;
  background: var(--primary-100);
  color: var(--white);
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0 var(--primary-200);
  transition: all var(--duration-100) var(--timing-fn);

  &:hover {
    transform: translateY(0.2rem);
    box-shadow: none;
  }
}

.btn input[type="file"] {
  opacity: 0;
  font-size: 0;
  grid-column-start: 1;
  grid-row-start: 1;
}

.btn-wrap {
  display: inline-grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-template-columns: 1fr 1.2rem;
  gap: 0.8rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
}
