.form-select,
.form-select-multiple {
  width: 100%;
  height: var(--form-input-height);
  padding: var(--form-padding);
  border: solid 1px var(--form-border-color);
  border-radius: var(--form-border-radius);
  line-height: var(--form-line-height);
  font-size: var(--form-font-size);
  background-image: url("icon-select.svg");
  background-size: 1.2rem;
  background-position: center right 2rem;
  background-repeat: no-repeat;
  overflow-x: hidden;
  &:focus {
    border-color: var(--form-focus-color);
  }
}
.form-select-multiple {
  &::-webkit-scrollbar {
    width: 1.2rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--form-border-color);
    border-radius: 99rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--form-border-color);
  }
}
