.form-required {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: inherit;
    top: -0.4rem;
    left: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--text-200);
    border-radius: 50%;
    transition: all var(--duration-400);
  }
}
