.form-select {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--form-input-height);
  padding: var(--form-padding);
  border: solid 1px var(--form-border-color);
  border-radius: var(--form-border-radius);
  line-height: var(--form-line-height);
  font-size: var(--form-font-size);
  background-size: 1.8rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-image: url("icon-select.svg");
  overflow: hidden;
  cursor: pointer;
  &:focus {
    border-color: var(--form-focus-color);
  }
}
