:root {
  --hover-circle-bg: rgba(255, 255, 255, 0.1);
  --hover-circle-width: 100%;
  --hover-circle-height: 100%;
}
.hover-circle {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: var(--hover-circle-width);
    height: var(--hover-circle-height);
    translate: -50% -50%;
    border-radius: 50%;
    border: 2px solid transparent;
    background: var(--hover-circle-bg);
    opacity: 0;
  }
  &:hover::before {
    opacity: 1;
    animation: zoomIn var(--duration-200) forwards;
  }
}
