<main class="l-cards">
  <% @films.each_with_index do |film, index| %>
    <%= render partial: 'card', locals: { class_name: "card#{index + 1}", title: film.title, title_en: film.title_en, card_star: film.review_star, card_body: film.comment } %>
  <% end %>
</main>
<nav class="pager">
  <a href="#" class="pager-prev"><img src="<%= asset_path('icon-pager.svg') %>" alt="Cosmic Library" width="32" height="32" alt="前へ" /></a>
  <a href="#" class="pager-item is-first is-active">1</a>
  <a href="#" class="pager-item">2</a>
  <a href="#" class="pager-item is-last">3</a>
  <a href="#" class="pager-next"><img src="<%= asset_path('icon-pager.svg') %>" alt="Cosmic Library" width="32" height="32" alt="次へ" /></a>
</nav>